[submodule "CSimulator"]
	path = CSimulator
	url = https://github.com/CPUlm/CSimulator.git
	branch = main
[submodule "CPUlm"]
	path = CPUlm
	url = https://github.com/CPUlm/CPUlm.git
	branch = main
[submodule "Assembler"]
	path = Assembler
	url = https://github.com/CPUlm/Assembler.git
	branch = main
[submodule "VirtualMachine"]
	path = VirtualMachine
	url = https://github.com/CPUlm/VirtualMachine.git
	branch = main
